<!DOCTYPE html>
<html lang="ja">
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>手書き数字識別</title>
    <meta name="viewport" content="width=device-width,init-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1">
    <script>
        var can;
        var ct;
        var ox = 0, oy = 0, x = 0, y = 0;
        var mf = false;

        function mam_draw_init() {
            //初期設定
            can = document.getElementById("can");
            can.addEventListener("touchstart", onDown, false);
            can.addEventListener("touchmove", onMove, false);
            can.addEventListener("touchend", onUp, false);
            can.addEventListener("mousedown", onMouseDown, false);
            can.addEventListener("mousemove", onMouseMove, false);
            can.addEventListener("mouseup", onMouseUp, false);
            ct = can.getContext("2d");
            ct.strokeStyle = "#000000";
            ct.lineWidth = 40;
            ct.lineJoin = "round";
            ct.lineCap = "round";
            clearCan();
        }

        function onDown(event) {
            mf = true;
            ox = event.touches[0].pageX - event.target.getBoundingClientRect().left;
            oy = event.touches[0].pageY - event.target.getBoundingClientRect().top;
            event.stopPropagation();
        }

        function onMove(event) {
            if (mf) {
                x = event.touches[0].pageX - event.target.getBoundingClientRect().left;
                y = event.touches[0].pageY - event.target.getBoundingClientRect().top;
                drawLine();
                ox = x;
                oy = y;
                event.preventDefault();
                event.stopPropagation();
            }
        }

        function onUp(event) {
            mf = false;
            event.stopPropagation();
        }

        function onMouseDown(event) {
            ox = event.clientX - event.target.getBoundingClientRect().left;
            oy = event.clientY - event.target.getBoundingClientRect().top;
            mf = true;
        }

        function onMouseMove(event) {
            if (mf) {
                x = event.clientX - event.target.getBoundingClientRect().left;
                y = event.clientY - event.target.getBoundingClientRect().top;
                drawLine();
                ox = x;
                oy = y;
            }
        }

        function onMouseUp(event) {
            mf = false;
        }

        function drawLine() {
            ct.beginPath();
            ct.moveTo(ox, oy);
            ct.lineTo(x, y);
            ct.stroke();
        }

        function clearCan() {
            ct.fillStyle = "rgb(255,255,255)";
            ct.fillRect(0, 0, can.getBoundingClientRect().width, can.getBoundingClientRect().height);
        }

        function clearinput() {
            my_test.value = ""
        }

        function saveCanvas(canvas_id) {
            var canvas = document.getElementById(canvas_id);
            if (canvas.msToBlob) { //for IE
                var blob = canvas.msToBlob();
                var timestamp = (new Date()).yyyyMMddhhmmss();
		var img_name = timestamp + '.jpg';
                window.navigator.msSaveBlob(blob, img_name + '.png');
            } else {
                //アンカータグを作成
                var a = document.createElement('a');
                a.href = canvas.toDataURL('image/jpeg', 1);
                //ダウンロード時のファイル名を指定
                var timestamp = (new Date()).yyyyMMddhhmmss();
		var img_name = timestamp + '.jpg';
                a.download = img_name +'.jpg';
                //クリックイベントを発生させる
                a.click();
            }
        }

        function predict(canvas_id) {
            var canvas = document.getElementById(canvas_id);
            document.getElementById('my_hidden').value = canvas.toDataURL('image/png');
            document.forms["form1"].submit();
        }
    </script>
</head>
<body onload="mam_draw_init();">
<form action="{% url 'upload' %}" method="POST" id="form1" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td><h3>手書き数字識別</h3></td>
            <td><h3>AI識別結果</h3></td>
        </tr>
        <tr>
            <td>
                <div style="border:solid 1px #000000;width:448px;" id="candiv">
                <canvas id="can" width="448px" height="448px"></canvas>
                <input type="hidden" name="canvasData" id="my_hidden">
                </div>
             </td>
             <td>
                <input type="text" style="border:solid 1px #000000;text-align:center;font-size:393px;width:448px;"  name="test" id="my_test" value={{ result }}></div>
             </td>
        </tr>
     </table>

    <input type="button" onClick="clearCan();clearinput()" value="クリア" style="width:100;height:30;" data-inline="true"/>
    <input type="button" onClick="predict('can');" value="識別" style="width:100;height:30;" data-inline="true"/>
</form>
</body>
</html>